<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string></string>
		<key>Version</key>
		<string>7.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>c6320d67c113f81057692db07935feb1</string>
			<key>Key</key>
			<string>66d4dcf232d19687c9d04469f327eee77fb1f44950d50c57fc483972e2e261a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>d9f36b5b00ceab0d304bc93087f90f66</string>
			<key>Key</key>
			<string>2c676eede3dcebfcceff99449068fbf5b911c71912785e48ceed0d20858507f0</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>38959e381b48be0b9fd4f2512a9b7cfd</string>
			<key>Key</key>
			<string>ddad37728afe5797a2942d2ad9d308952d1247d497af0ad458d64b34828d622e</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>a8e1fac665d7e8f68162125462f5f5fa</string>
			<key>Key</key>
			<string>4ede194349575d720bfc2ce8d9ceb28511b561452a22ecb678e7e63ea3f415f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>e25a0c11b8fedf60705addda9fe974be</string>
			<key>Key</key>
			<string>c0eade66149ee8588b04ffb071222752868d7eb08e6cd5ba16a04d7fe6c7c4ae</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>b98b11e207a089fad862023602a3ee6b</string>
			<key>Key</key>
			<string>73afcdc83aebefd58e797321b4946941dffd16536cd9d3a790a1ceb95913aba9</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>05d8796421050c3cda06865abf6c4c96</string>
			<key>Key</key>
			<string>58500d4d6a23201acef99461847a3af9723134a2e2d589ab0b1121605ee633c</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>058-1979-004.dmg</string>
			<key>VFDecryptKey</key>
			<string>76ecf0ba3cbb13e6f7836bb8533fd78597bfb31d8a2b387dc9d0a09a4b2e8bd820345e1c</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>3b84ce2b36985250012f075e0df76dfb</string>
			<key>Key</key>
			<string>a4f3298f023d9f93efd595825eb3a50c08bf90aff7706301ab5550602b7dd565</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>288d3f48e71b08c5c61fdc40c4c9ddb9</string>
			<key>Key</key>
			<string>d22d3faa8711f605f7c5e9a0a90441021bb8157826d028fd4ed02ad2251f9e25</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5a794ee1dfd9ccb352c801804dd96c7b</string>
			<key>Key</key>
			<string>6e476fb80719ca0901d0e7d2c1d2252ec02d9550037f023885ed3a00c4afcd31</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>8c38f368a62b5ce474510787079253d8</string>
			<key>Key</key>
			<string>0bff9e3185b5aa2de9ab69f4ee3bc7d39c9dff442774229fe1b02e3aa90c2c5</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>ba7420669c940eaf2f12f189e5cd2f4c</string>
			<key>Key</key>
			<string>5c4f9c012edf7507a3c782aa38e05464cebe5bebfa516f723ad9a6dbbdc0b869</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>09c977de710764bbf7e85f7f3b39a785</string>
			<key>Key</key>
			<string>b6bfe0bbea3b411d0ed2bc050a90e135bb9f51a26697107872ad37b69185b507</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>7ff15eb8d43d9db2198acee3ba821e4d2</string>
			<key>Key</key>
			<string>56fd0f3f54ba37560abeb36f523983c1c300061e2b57142c47ca39dc57cb5ed5</string>
		</dict>
	</dict>
</dict>
</plist>
