<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string></string>
		<key>Version</key>
		<string>7.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>5a670bbfb780a627ef0c3153e19fe6ce</string>
			<key>Key</key>
			<string>821f091389526a1450937b8cd13b243433048de7ee3f4c1ebfda7bce38d4bd0</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>8d83509e0861a11cdcee0aa678889dac</string>
			<key>Key</key>
			<string>4c357b46745fc85e22a383a92dc06dcb34ec5c8534006a60da488625ce7c3a2e</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>ec4841137ded28d71587f6697eab600c</string>
			<key>Key</key>
			<string>4e76f31ec0cf1f2936a246de0dcf217d7c329a343e33023e7bd3ee1ed625fe20</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>493dcf1ebf44b3db49cba30303fa0ab6</string>
			<key>Key</key>
			<string>fee2a5f5d98377b224983735532cf7923b91cbe431090c9a9076590671bb2a1</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>47a0bcfd7e89277975ef6d8fa0b04139</string>
			<key>Key</key>
			<string>06f0c169f0e6b0107d3af01a92fd9b2a88e8af71198fb7bc1f1a6eca53643db4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>ff81bda0f2b12c82fe767cb2d3c3ce29</string>
			<key>Key</key>
			<string>18e5c9d28f21a08387d783d01c8a4dafea76083c1e185d7a2d17c3c72a4010f9</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>5cead4be79453b936e658fdc88be6426</string>
			<key>Key</key>
			<string>54c792adaffa2425cef61287c99c93e8cf0962df6be468c6cb5d4d22648a2ef</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>058-2470-007.dmg</string>
			<key>VFDecryptKey</key>
			<string>552606b699d6a5a45228b7a960c4aa3fcbc8cb5e97839d31b7a14ee6d64779fc5c80f2a5</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>d2a75a9333b3ba289bc5ba5e41be5c7e</string>
			<key>Key</key>
			<string>0df1d2f5342c52160a08165c2ec5d39a2128fc94addf526af500aa1b527ea608</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>f0f4d387fb22b22313d84d397ca80912</string>
			<key>Key</key>
			<string>d985a6b2e72fe7b0f1b6d73974562e6f4d1e7560a139f57be618d5e17c53bec9</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>a69537d2a4a7bed46333ecfa8c7d7daa</string>
			<key>Key</key>
			<string>4d43cb51f92e2fa098b04601ff193a1e8b31be89f9f58f588ced186d67ad8571</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>95ad891638fc47c29bb1b01d7acc559b</string>
			<key>Key</key>
			<string>db5792fed17e25df5d406ef3887f23c4133c0a870e9cf90b64b30f0fbbe8f3f</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4b5abd73647afb541bf9dd16805cd29f</string>
			<key>Key</key>
			<string>9850b6209ef708d2bc9054df7ba7ae7e515a788d5abb079d6d40f1090c699a63</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4f3869461d52bf7cd839966d41025ad7</string>
			<key>Key</key>
			<string>18353fcc26708a46ca893a195f6f722f652e460998ce4f592ddaabbf5531abc8</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>d8e15c15ec27370fad6456b3a7f0962f</string>
			<key>Key</key>
			<string>ce1f3325206f2374dd5346828a13ba3456720e517aff247e44edff40af277e87</string>
		</dict>
	</dict>
</dict>
</plist>
