<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string></string>
		<key>Version</key>
		<string>7.1</string>
	</dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>488f39560545532118430cd4fcd655ad</string>
			<key>Key</key>
			<string>258361a8b79064c672efdc90e85e43bbbe792570e7b81958d6dbc111e67f68c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>0d437be3684bb698939032d67e37cafd</string>
			<key>Key</key>
			<string>bb050d13a08b6d2af8fa7fe4fdabfc96248134e2e1c0a5641d621f74e149e70d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>9e308d3002bcf6f6169af808aa30c497</string>
			<key>Key</key>
			<string>57e48c82c77a512c7340f999545eb23b4707216920162c4fb26ff5493cbf9229</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>f640498e4b523a9e2ba83a5412a7c87f</string>
			<key>Key</key>
			<string>c5f3c27eb2f52920b804c89f62c7f254f5abc4d0878387d12650ebc2528d31e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>bc4e6d12759e747bca6ffa9a2aad82f9</string>
			<key>Key</key>
			<string>e6c04abdb6f4cb6b4c559efa7eb06bfc8005f28080c94cd842690fa1572ab26b</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>9fed4af9540db22f6bfeeb3ed672c9c5</string>
			<key>Key</key>
			<string>62ae7ae1eb364c9ed26fa0794f9f29ce31be41898313e3d6f51c45500b9869a2</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>c342316056f9361c5e76e5dffe2243d8</string>
			<key>Key</key>
			<string>a48de78c7302b157228b30206b33acbffb1c89bd7ddbabb166dce63207e121b</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>FileName</key>
			<string>058-2080-004.dmg</string>
			<key>VFDecryptKey</key>
			<string>b92d39cf2a745977ba439c510321b51fe345e927a7b29821eb2e34431be78d8bd746e0d8</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>ab2d60bd95b6b0fb9f6f693e505e43c0</string>
			<key>Key</key>
			<string>f9efd7cd2794d0efdd30e4cfe886898c18c1432c674b60b82112f881d2d8a00a</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>8c0fbdde6d5138306a7287b019e766be</string>
			<key>Key</key>
			<string>e1dc479873aec7f066f2bd3853a7fcccc16fbf5d64cb249122acd7b3829d48da</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>1a8cec4b95f4e3f2765a6ae31da860d7</string>
			<key>Key</key>
			<string>80f3a105662a5bc1f233367329bc1d149508ee27f61b94bb5efa17104b8f4933</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>IV</key>
			<string>51208676e150416db4be9f18293c33e4</string>
			<key>Key</key>
			<string>319ae4e56a5dc99bf72cec39127291b7233944fa65ee328d31e2e55d0f3db47</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>20ee880938524f0a58db6b3a4b16389d</string>
			<key>Key</key>
			<string>5c19ac7a7378fa5d388da3b1ecd9063c2e833874ceae5d775e997fcacaed5b96</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9f811d2789761af7b08e782888c3b93c</string>
			<key>Key</key>
			<string>8d43844d89e6b09ec10f73c40dde375b87fbcf002a4000fcca641d402675f37c</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>db2a871a2f12144653a78fcbf0b34ec3</string>
			<key>Key</key>
			<string>24730577feacf2be45bdd9330c265193361027aa8d6ac190ce9af0e6020013d6</string>
		</dict>
	</dict>
</dict>
</plist>
